/* Remove the distracting color difference between expandable and
 * non-expandable admin bar menu items ("are the white ones active?") and
 * instead add a more subtle blue bottom border (matching the color used for
 * the arrow symbol used for secondary and verticle expandable menu items.
 */

.toolbar-tray-horizontal .menu-item {
  background-color: #f5f5f2;
  border-bottom: solid 2px #AAAAAA;
}

.toolbar-tray-horizontal .menu-item--expanded {
  border-bottom: solid 2px #0074BD;
}


/* Use the more subtle main admin bar dropshadow for 2nd 'Manage' bar also. */

.toolbar-horizontal .toolbar-tray {
  border-bottom: none;
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333);
}


/* Make Claro's header just slightly more compact. */

.content-header {
  padding-top: 1rem !important; /* ugh this wouldn't need important in a subtheme */
  margin-bottom: 1.5rem !important; /* ugh this wouldn't need important in a subtheme */
}

.block-page-title-block {
  margin-bottom: 0 !important; /* ugh this wouldn't need important in a subtheme */
}

.toolbar-icon-admin-toolbar-tools-help::before {
  background-image: url("../images/find-it-logo.svg");
}
